* {
    box-sizing: border-box;
}


body {
    background-color: #b91450;
}

.container {
    background-color: white;
}

input, select {
    border: 2px solid #b91450;
}

select {
    padding: 0.4rem 0.25rem 0.4rem 0.25rem;
}

.col-auto > input {
    border: 2px solid #8d8d8d;
    background-color: #cccccc;
}

.col-auto > input, label {
    color: #b91450;
}

.ticket {
    display: none;
}

.table > thead:first-child > * > * {
    padding: .5rem .5rem 2rem .5rem;
}